$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$pure-black: #000000;
$shadow: rgba(0, 0, 0, 0.75);

$light-blue-gradient: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75));