.logo-nav-white {
	position: fixed;
	top: 1rem;
	// left: 1rem;
	z-index: 11;
	width: 6rem;
	height: 6rem;
	background-image: url('../img/logos/WT.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

@media (min-width: 576px) {
	.logo-nav-white {
		width: 15rem;
		height: 15rem;
	}
}

@media (min-width: 768px) {
	.logo-nav-white {
		width: 20rem;
		height: 20rem;
	}
}
