@use './colors' as *;
@use './reset' as *;
@use './spinner' as *;
@use './logo-nav-black' as *;
@use './burger-button-black' as *;
@use './burger-nav' as *;

body {
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 3rem;
	padding: 2rem 2rem 0 2rem;
}

.firm {
	padding: 0 2rem;
	margin-bottom: 3rem;
    width: 100%;
	h2 {
		font-size: 2.2rem;
		margin-bottom: 1.4rem;
		font-weight: 600;
		text-decoration: underline;
	}
    p {
        text-align: justify;
    }
}

.map {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;

	img {
		width: 90%;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	}
}

@media (min-width: 576px) {
	.firm {
		padding: 0 4rem;
		h2 {
			font-size: 2.4rem;
			margin-bottom: 1.6rem;
		}
		p {
			font-size: 1.4rem;
		}
	}
    .map {
        height: 45rem;
           img {
               width: 90%;
               background-size: cover;
           }
       }
}

@media (min-width: 1000px) {
	.wrapper-contact {
		max-width: 1000px;
		margin: 0 auto;

		.container {
			display: flex;
			justify-content: space-between;
			.description {
				width: 50%;
			}

			.map {
				width: 50%;
			}

            .firm {
              
                p {
                    font-size: 1.6rem;
                }
            }
		}
	}

}

@media (min-width: 1400px) {
	.wrapper-contact {
		max-width: 1400px;
		margin: 0 auto;

		.container {
			display: flex;
		
	
		}
	}

    .map {
     height: 63rem;
    
    }
}
