@use './reset' as *;
@use './colors' as *;
@use './spinner' as *;
@use './burger-button-white' as *;
@use './burger-nav' as *;
@use './logo-nav-white-homepage' as *;

.image {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: opacity ease 1s;
	background-size: cover;
	background-position: center;
}

.image1 {
	background-image: url('../img/low/Pawia\ \ \(7\)_1_11zon.jpeg');
}

.image2 {
	background-image: url('../img/low/2\ Serwis_1_11zon.jpg');
}

.image3 {
	background-image: url('../img/low/sw\ jacka\ dom\ modlitwy_4_11zon.jpeg');
}

.image4 {
	background-image: url('../img/low/4\ realizacje_2_11zon.jpeg');
}

.image5 {
	background-image: url('../img/low/Trasa\ Łagiewnicka\ biurowiec_5.jpeg');
}

.visible {
	opacity: 1;
}

.wrapper {
	transition: background-image 1.5s;
	background-repeat: no-repeat;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	&__container {
		transform: rotate(-90deg);

		ul {
			list-style: none;
			position: relative;
			right: 4rem;
		}

		li {
			font-size: 2.8rem;
			font-weight: 900;
			text-transform: uppercase;
			color: $pure-white;
			letter-spacing: 2px;
			border-bottom: 1px solid $pure-white;
			border-right: 1px solid $pure-white;
			width: 90vh;
			height: 20vw;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: background-color 0.3s;
		}

		li:last-child {
			border-bottom: none;
		}

		li:hover {
			cursor: pointer;
			background-color: $pure-black;
			color: $pure-white;
		}

		a {
			padding-left: 5rem;
			left: 10rem;
			width: 100%;
			height: 100%;
			text-decoration: none;
			color: $pure-white;
		}
	}
}

@media (min-width: 480px) {
	.nav {
		&__container {
			ul {
				right: 0;
			}

			li {
				font-size: 3.3rem;
				width: 100vh;
				border-right: none;
			}
			a {
				padding-left: 2rem;
			}
		}
	}
}
@media (min-width: 576px) {
	.nav {
		&__container {
			li {
				font-size: 4rem;
			}
		}
	}
}

@media (min-width: 768px) {
	.nav {
		&__container {
			li {
				font-size: 5rem;
			}
		}
	}
}
